In [1]:
import pandas as pd
import os
from tqdm.notebook import tqdm
import time
import re

In [2]:
os.chdir('/Users/ww.jedrzej/Library/CloudStorage/OneDrive-Osobisty/UAM/VII rok/NCN/structered data')

In [3]:
diff = pd.read_excel("thermogenesis.xlsx")
diff = diff.L1.unique().tolist()
regex = re.compile(r"^E")
f1 = sorted(list(filter(regex.search, os.listdir())))
f1 = set(f1) - set(diff)
f1 = list(f1)
f1.sort()

In [11]:
f3 = f1[0:9]

In [12]:
f3

['EIII_B1',
 'EIII_B2',
 'EIII_B3',
 'EIII_B4',
 'EIII_B5',
 'EIII_B6',
 'EIII_B7',
 'EIII_B8',
 'EIII_B9']

In [30]:
pd.read_csv(i + '/' + os.listdir(i)[0])

,V1,V2,V3,V4,file,date,mean,age_hours,thermogenesis
0,EIII_B1,12A_3,D,NaN,IR006520,2023-08-15T14:06:36Z,23.281,1.000000,0.000
1,EIII_B1,12A_3,D,NaN,IR006523,2023-08-16T13:20:42Z,26.217,25.235000,2.936
2,EIII_B1,12A_3,D,NaN,IR006533,2023-08-17T12:16:58Z,27.326,49.172778,4.045
3,EIII_B1,12A_3,D,NaN,IR006544,2023-08-18T11:31:38Z,27.349,73.417222,4.068
4,EIII_B1,12A_3,D,NaN,IR006558,2023-08-18T15:53:46Z,26.548,78.786111,3.267
...,...,...,...,...,...,...,...,...,...
159,EIII_B1,BEZ,F,NaN,IR006640,2023-08-25T12:29:52Z,24.727,172.702222,1.727
160,EIII_B1,BEZ,F,NaN,IR006650,2023-08-26T15:22:20Z,25.401,200.576667,2.401
161,EIII_B1,BEZ,F,NaN,IR006655,2023-08-27T15:59:52Z,25.123,226.202222,2.123
162,EIII_B1,BEZ,F,NaN,IR006656,2023-08-28T11:54:46Z,24.605,247.117222,1.605
163,EIII_B1,BEZ,F,NaN,IR006659,2023-08-29T11:16:26Z,24.263,271.478333,1.263

In [13]:
start = time.time()
EIII_thermogenesis = pd.DataFrame()
for i in f3:
    csv = pd.read_csv(i + '/' + os.listdir(i)[0])
    EIII_thermogenesis = pd.concat([EIII_thermogenesis, csv])
EIII_thermogenesis.to_excel("EIII_thermogenesis.xlsx", index = False)
print(str((time.time() - start)) + ' secs')

2.851625919342041 secs

In [44]:
start = time.time()
EVIII_thermogenesis = pd.DataFrame()
for i in f3:
    csv = pd.read_csv(i + '/' + os.listdir(i)[0])
    EVIII_thermogenesis = pd.concat([EVIII_thermogenesis, csv])
EVIII_thermogenesis.to_excel("EVIII_thermogenesis.xlsx", index = False)
print(str((time.time() - start)) + ' secs')

0.08765220642089844 secs